* {margin: 0;padding: 0;}
body {font-family: 'Open Sans',sans-serif;font-size:100%;background-color: #fff;}
@font-face{font-family:'DIN Bold';font-weight:normal;src:url('../fonts/DINComp-CondBold_new.eot') format('embedded-opentype');src:local('&#9786;'),url('../fonts/DINCompPro-CondBold_new.ttf') format('truetype');font-weight:normal;font-style:normal}
@font-face{font-family:'DIN Bold IE';font-weight:normal;src:url('../fonts/DINComp-CondBold_new.eot');font-weight:normal;font-style:normal}
img {max-width: 100%;height: auto;}
.wrapper-whilox {max-width: 90%;margin: 0 auto;}
#top-bar {background-color: #007fa3;height: 30px;}
#top-bar ul {list-style: none;float: right;}
#top-bar ul, .left-text {margin-top: 5px;color: #fff;font-size: 80%;font-weight: normal;font-style: normal;font-family: Lato,helvetica,arial,sans-serif!important;}
.left-text {float: left;}
#top-bar ul li {display: inline-block;border-left: 1px solid rgba(255, 255, 255, 0.2);padding-left: 10px;margin-left: 10px;}
#top-bar ul li:first-child {border-left: 0;}
#top-bar ul li a {text-decoration: none;color: #fff;}
#top-bar ul li a:hover {border-bottom: 1px solid #fff;}
header {height: 120px;border-bottom: 1px solid #eeeeee;font-family: Lato,helvetica,arial,sans-serif!important;}
#logo {width: 354px;height: 100%;text-transform: uppercase;padding: 10px 0 15px;display: table-cell;vertical-align: middle;}
#logo a {font-family:Lato,helvetica,arial,sans-serif!important;text-decoration: none;color:#627f9a;padding-top: 10px;font-size: 200%;font-weight: bold;float: left;}
#logo a img {height: auto;width: auto;vertical-align: middle;display: inline-block;}
.left-links {vertical-align: middle;display: table-cell;padding-right: 40px;}
.left-links ul {list-style: none;float: left;padding-top: 15px;margin-left: 15px;}
.left-links ul li {display: inline-block;text-transform: uppercase;margin-left: 20px;}
.left-links ul li a {color: #000;opacity: 0.5;-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;transition:all 200ms ease-out;font-size: 80%;font-weight: bold;padding: 10px 0px;text-decoration: none;}
.left-links ul li a:hover {opacity: 1;}
.right-links {vertical-align: middle;display: table-cell;}
.right-links ul {list-style: none;float: right;padding-top: 10px;}
.right-links ul li {display: inline-block;}
.right-links ul li a {-webkit-transition:all 200ms ease-out;-moz-transition:all 200ms ease-out;transition:all 200ms ease-out;font-size: 80%;font-weight: bold;color:#627f9a;text-decoration: none;text-transform: uppercase;padding-right: 20px;margin-left: 20px;}
.right-links ul li a:hover {color: #000;}
.title {display: block;text-align: center;margin: 15px 0px;width: 100%;}
.title h1 {font-family:Helvetica;font-size: 50px;text-transform: uppercase;color: #0099dd;line-height: 1em;text-shadow:1px 1px 1px #000;}
.title p {text-shadow:1px 1px 1px #000;color: #fff;line-height: 1.1em;font-size: 20px;text-transform: uppercase;font-weight: bold;}
#form-login {width: 45%;border-right-style: dashed;border-right-width: 1px;display: inline-block;}
#form-login h2, .crear-cuenta h2 {margin-bottom: 10px;color: #333;}
#form-login p, .crear-cuenta p {color: #333;}
#form-login #resultado #alert-msg {width: 80%;}
.crear-cuenta {display: inline-block;width: 45%;vertical-align: top;padding: 30px;}
.crear-cuenta ul {margin: 10px 20px;}
.crear-cuenta .btn {padding: 10px;background-color: #0088cc;color: #fff;display: inline-block;border: none;margin: 10px;}
.crear-cuenta .btn a {text-decoration: none;color: #fff;}
.contenido-registro #form-registro-perfil, #form-registro-lol, #form-registro-platform {width: 45%;display: inline-block;margin:20px 5px;vertical-align: top;}
.contenido-registro #form-registro-perfil label, #form-registro-lol label, #form-registro-platform label, #form-login label {display: block;margin: 20px 0px;}
.contenido-registro #form-registro-perfil span, #form-registro-lol span, #form-registro-platform span, #form-login span {color:#333;width: 22%;margin-right:20px;display: inline-block;text-align: right;vertical-align: middle;}
.contenido-registro #form-registro-perfil input[type="text"], select, #form-registro-lol input[type="text"], #form-registro-platform input[type="text"], #form-registro-lol input[type="password"], #form-registro-platform input[type="password"], #form-login input[type="text"], #form-login input[type="password"] {display:inline-block;width:60%;background-color:#fff;color:#333;padding:10px;box-shadow:2px 2px 10px rgba(60,60,60,0.8);border:1px solid #999;}
.contenido-registro #form-registro-perfil select, #form-registro-lol select {width: 64.4%;}
.contenido-registro #form-registro-perfil .title-contain, #form-registro-lol .title-contain, #form-registro-platform .title-contain {background-color: #dedede;border-bottom: 1px dashed #36d;color: #333;padding: 8px 5px;}
.contenido-registro #form-registro-platform {display: inline-block;margin:20px 5px;}
.contenido-registro input[type="submit"], #form-login input[type="submit"] {padding: 10px;background-color: #0088cc;color: #fff;display: inline-block;border: none;margin: 10px;}
#alert-msg {background-color: #fff3cd;color: #856404;padding: 12px 16px;margin: 8px auto;border: 1px solid #ffc107;border-radius: 4px;text-align: center;font-size: 14px;line-height: 1.4;box-shadow: 0 1px 2px rgba(0,0,0,0.05);}
#alert-msg a {color: #856404;text-decoration: underline;}
#alert-msg a:hover {text-decoration: none;}
footer {background-color: #333;color: #ddd;padding: 10px 0 25px 10px;}
#row ul {display: inline-block;padding:0 0 5px;border-bottom: 1px solid rgba(255, 255, 255, 0.1);}
#row ul li {display:inline-block;padding-right: 15px;font-size: 70%;text-transform: uppercase;padding-bottom: 5px;}
#row ul li a {text-decoration: none;color: #999;}
#row ul li a:hover{color: #fff;}
#copyright {opacity: 0.6;font-size: 90%;margin-top: 10px;}
.coach-details {font-family:Helvetica, sans-serif;position:relative;width: 240px;height: 320px;display: inline-block;background: #fff;margin: 5px;box-shadow: 0px 0px 10px #333;color: #000}
.coach-details a {text-decoration: none;}
.coach-details .profile-img {position: absolute;width: 240px;height: 222px;top: 98px;overflow: hidden;}
.coach-details .w-background {position: absolute;top: 0;left: 0;height: 100%;width: 100%;background: rgba(255,255,255,0.5);}
.coach-details .w-league {width: 60px;margin: 10px 10px 0px 0px;position: absolute;top: 0;left: 0;background: #fff;padding: 5px 10px 5px 10px;}
.coach-details .w-title {border-left: 2px solid #0099dd;position: absolute;width: 160px;font-family: 'DIN Bold','DIN Bold IE',helvetica;background: #fff;top: 0;right: 0;padding-bottom:5px;}
.coach-details .w-title h2 {font-size:26px;margin: 0px;padding: 5px 0px 0px 0px;color: #0099dd;}
.coach-details .w-title h3 {font-size: 18px;}
.coach-details .w-infobox {position: absolute;width: 100%;height: 222px;top: 98px;background: rgba(0,0,0,0.8);color: #fff;}
.coach-details .w-skills {position: absolute;bottom:0px;padding: 5px 0px;left: 0px;width: 240px;background: #fff;text-align: center;}
.coach-details .w-skills img {height: 30px;margin-right: 5px;}
.coach-details .w-lang {position: absolute;bottom:52px;left: -3px;background: #fff;padding: 10px;box-shadow: 0px 0px 10px #333;}
.coach-details .w-lang img {width: 24px;margin-right: 10px;}
.coach-details .w-price {position: absolute;bottom: 50px;right: -3px;padding: 10px;background: #0099dd;box-shadow: 0px 0px 10px #333;color: #fff;}
.coach-details .w-infobox p {padding: 10px;margin: 70px 10px 0px 65px;font-size: 18px;font-weight: bold;}
.ratingSmall{width:130px; height:20px; display:block; overflow:hidden; margin:0px auto;position:relative;}
.ratingSmall .rat0{margin-top:0px;}
.ratingSmall .rat1{margin-top:-20px;}
.ratingSmall .rat2{margin-top:-40px;}
.ratingSmall .rat3{margin-top:-60px;}
.ratingSmall .rat4{margin-top:-80px;}
.ratingSmall .rat5{margin-top:-115px;}
.filter {background: #dedede;color: #333;margin: 10px 0px;padding: 10px;}
.filter span {display: inline-block;margin:0px 20px;}
.filter select {width: 190px;margin:0 5px;border: 1px solid #999;background: #fff;color: #333;padding: 10px;box-shadow: 2px 2px 10px rgba(60,60,60,0.8);text-align: left;border-radius: 4px;}
.coach-info .coach-img {display: inline-block;width: 256px;height: 216px;overflow: hidden;}
.coach-info .coach-img img {width: 100%;}
.coach-info .coach-level {display: inline-block;vertical-align: top;width: 256px;height: 216px;}
.coach-info .coach-level img {display:block;margin:0 auto;width: 192px;height: 192px;} 
.coach-info .coach-level h3 {display: block;text-align: center;margin-top: 10px;text-transform: uppercase;}
.coach-info .coach-purch {display: inline-block;vertical-align: top;width: 45%;}
.coach-info .coach-purch .title {text-align: left;margin: 0 0 10px 0;}
.coach-info .coach-purch .title h1 {color: #0099dd;text-shadow:1px 1px 1px #000;text-transform: none;}
.coach-info .coach-purch .h3 {color: #333;}
.coach-info {border-bottom: 2px solid #13c;padding-bottom: 2px;}
.containp {background:#dedede;display:inline-block;vertical-align:bottom;color: #333;padding: 10px;width: 40%;margin-top: 20px;}
.containp h3 {color: #fff;text-shadow:1px 1px 1px #000;}
a#cphBody_btnBuySingle {text-decoration: none;cursor: pointer;}
a#cphBody_btnBuyTeam {text-decoration: none;cursor: pointer;}
.sid-coach {background-color: #fff;width: 258px;float: left;display: block;}
.topchampion {margin-top:10px;}
.topchampion img {margin-left: -4px}
.content-coach {width: 720px;padding:15px;min-height:550px;float: right;display: block;background: #efefef;}
.content-coach img {width: 95%;}
.linkbutton-d {padding: 10px;display: inline-block;background-color: #333;color: #999;}
.linkbutton {background: #0088cc;padding: 10px;display: inline-block;color: #fff;}
.ui-slider {position: relative;text-align: left;height:4px;border:1px solid #36c; margin:10px 0px; width:120px; border-radius:4px; background:#def;}
.ui-slider .ui-slider-handle {position: absolute;z-index: 2;width: 1.2em;height: 1.2em;cursor: default;background:#9af; border-radius:50%;}
.ui-slider .ui-slider-range {position: absolute;z-index: 1;font-size: .7em;display: block;background:#36c;border:1px solid #36c;}
.ui-slider.ui-state-disabled .ui-slider-handle,.ui-slider.ui-state-disabled .ui-slider-range {filter: inherit;}
.ui-slider-horizontal {height: 8px;}
.ui-slider-horizontal .ui-slider-handle {top: -.3em;/*margin-left: -.6em;*/}
.ui-slider-horizontal .ui-slider-range {top: 0;height: 100%;}
.ui-slider-horizontal .ui-slider-range-min {left: 0;}
.ui-slider-horizontal .ui-slider-range-max {right:0;}
.ui-slider-vertical {width: .8em;height: 100px;}
.ui-slider-vertical .ui-slider-handle {left: -.3em;margin-left: 0;margin-bottom: -.6em;}
.ui-slider-vertical .ui-slider-range {left: 0;width: 100%;}
.ui-slider-vertical .ui-slider-range-min {bottom: 0;}
.ui-slider-vertical .ui-slider-range-max {top: 0;}
.mar10 {margin-left: 10px;}
.pad10 {padding: 10px;}
.center {text-align: center;}
.ratingBig {width: 196px;height: 40px;display: block;overflow: hidden;margin: 0 auto;position: relative;}
.ratingBig .rat0{margin-top:0px;}
.ratingBig .rat1{margin-top:-40px;}
.ratingBig .rat2{margin-top:-80px;}
.ratingBig .rat3{margin-top:-120px;}
.ratingBig .rat4{margin-top:-160px;}
.ratingBig .rat5{margin-top:-200px;}
#pop {position: fixed;top: 0;bottom: 0;left: 0;right: 0;overflow: hidden;height: 100%;padding: 0;margin: 0;background: rgba(0,0,0,0.6);z-index: 900;}
#pop-int {padding:10px;background-color: #f2f2f2;border-radius: 4px;border:1px solid #ccc;height: 70px;width: 350px;}
#pop-tyc {padding:10px;background-color: #f2f2f2;border-radius: 4px;border:1px solid #ccc;}
.popup-body {overflow-y: scroll;width: 600px;height: 500px;}
#pop-int p, #pop-tyc p {font-size: 14px;font-family: Helvetica, sans-serif;color: #3C3C3C;}
#pop-tyc .popup-title {background-color: #0099dd;color: #fff;padding: 10px;border-bottom: 1px solid #fff;}
#cerrar-ord {margin:10px 0px;cursor: pointer;}
.form-coaching {margin-top: 20px;display: block;font-size: 12px;font-family: Helvetica, sans-serif}
.form-coaching .selc {width: 650px;margin: 0 auto;}
select[name="coachingmode"] {margin:0 auto;display:inline-block;height:40px;border-radius:4px;width: 450px;border: 1px solid #999;background-color: #fff;color: #333;padding: 10px;box-shadow: 2px 2px 10px rgba(60,60,60,0.8);text-align: left;vertical-align: middle;}
.btn-blue {padding: 10px;background-color: #0088cc;color: #fff;display: inline-block;border: none;margin: 10px;text-decoration: none;}
#coaching-calc, #coaching-calc2, #coaching-calc3, #coaching-calc4, #coaching-calc5{background-image: linear-gradient(180deg, rgb(188, 195, 207), rgb(244, 244, 244) 50%, rgb(166, 177, 196) 100%);box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);border-radius: 10px;padding: 10px;}
#coaching-calc h1, #coaching-calc2 h1, #coaching-calc3 h1, #coaching-calc4 h1, #coaching-calc5 h1 {color: #333;font-size: 26px;text-shadow:0px 1px rgb(255, 255, 255);}
#coaching-calc .div1, #coaching-calc2 .div1, #coaching-calc3 .div1, #coaching-calc4 .div1, #coaching-calc5 .div1 {width: 50%;display: inline-block;vertical-align: top;}
#coaching-calc .div2, #coaching-calc2 .div2, #coaching-calc3 .div2, #coaching-calc4 .div2, #coaching-calc5 .div2 {width: 49%;display: inline-block;vertical-align: top;}
#coaching-calc input[type="submit"] {font-size:12px;background: #0088cc;box-shadow:none;border:none;padding: 10px;display: inline-block;color: #fff;border-radius: 0;vertical-align: none;}
#coaching-calc label, #coaching-calc2 label, #coaching-calc3 label, #coaching-calc4 label, #coaching-calc5 label {display: block;margin-bottom: 15px;}
#coaching-calc label span, #coaching-calc2 label span, #coaching-calc3 label span, #coaching-calc4 label span, #coaching-calc5 label span {width:80px;display:inline-block;margin-right: 10px;color: #333;font-size: 14px;font-family: 'Open Sans',sans-serif;text-align: right;}
#coaching-calc label select, #coaching-calc input, #coaching-calc2 label select, #coaching-calc2 input, #coaching-calc3 label select, #coaching-calc3 input, #coaching-calc4 label select, #coaching-calc4 input, #coaching-calc5 label select, #coaching-calc5 input {text-align: left;color: #666;border: 1px solid #999;padding:5px;box-shadow: 2px 2px 10px rgba(60,60,60,0.8);background: #fff;vertical-align: middle;border-radius: 4px;}
#coaching-calc label select, #coaching-calc2 label select, #coaching-calc3 label select, #coaching-calc4 label select, #coaching-calc5 label select {width: 140px;}
#coaching-calc label input[type="text"], #coaching-calc2 label input[type="text"], #coaching-calc3 label input[type="text"], #coaching-calc4 label input[type="text"], #coaching-calc5 label input[type="text"] {width: 130px;}
.coaching-foot {margin-bottom: 50px;}
.coaching-foot p {font-size: 14px;margin:10px 0px 0px 0px;padding: 0px;}
.coaching-foot .marb10 {margin-bottom: 10px;}
.coaching-foot ul {padding: 30px;}
.sociales {margin: 20px 10px;text-align: center;border-top: 1px solid #ebebeb;padding: 20px 0px;}
.sociales ul{list-style: none;}
.sociales ul li {display: inline-block;margin: 0 5px;}
